<div class="container-fluid">
  <div class="row">

  </div>
  <osb-ngx-flexmasonry-grid class="row">
    <osb-ngx-flexmasonry-grid-item class="col-xl-3 col-lg-4 col-sm-6 pb-5"
      *ngFor="let entry of getEntries() | async; let i = index">
      <div class="card shadow">
        <img *ngIf="entry.image" [src]="entry.image.src" [attr.width]="entry.image.width"
          [attr.height]="entry.image.height" class="card-img-top img-fluid" />
        <div class="card-body">
          <h5 class="card-title">{{i + 1}}. {{entry.title}}</h5>
          <p class="card-text">{{entry.body}}</p>
        </div>
      </div>
    </osb-ngx-flexmasonry-grid-item>
  </osb-ngx-flexmasonry-grid>
</div>
